.form-import-products {
  padding-top: 5rem;
  margin-left: 25%;
  text-align: center;
}

.table-import-products {
  padding-top: 5rem;
}

.header-import-products {
  display: flex;
  justify-content: space-between;
}
