* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.main-wrapper {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.product-div {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}

.product-div-left {
  padding: 20px;
}

.product-div-right {
  padding: 20px;
}

.img-container img {
  width: 500px;
  margin: 0 auto;
}

.hover-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.hover-container div {
  border: 2px solid #213122;
  padding: 1rem;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.img-item.active {
  border-color: bisque;
}

.hover-container div:hover {
  border-color: bisque !important;
}

.hover-container div img {
  width: 50px;
  cursor: pointer;
}

.product-div-right span {
  display: block;
}

.product-name {
  font-size: 25px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}

.product-price {
  font-weight: 700;
  font-size: 22px;
  opacity: 0.9;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-rating span {
  margin-right: 6px;
}

.product-description {
  font-weight: 18px;
  line-height: 1.6;
  opacity: 0.9;
  margin: 0;
  padding-top: 10px;
}

.btn-groups {
  margin-top: 22px;
}

.btn-groups button {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 14px 19px;
  color: #fff;
}

.btn-groups button .fas {
  margin-right: 8px;
}

.add-cart-btn {
  background-color: #000000;
  margin-right: 10px;
  border-radius: 5px;
}

.add-cart-btn:hover {
  opacity: 0.8;
  background-color: #272727;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 992px) {
  .product-div {
    grid-template-columns: 100%;
  }

  .product-div-right {
    text-align: center;
  }

  .product-rating {
    justify-content: no content;
  }

  .product-description {
    max-width: 400;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .btn-groups button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.img-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* css of tab container */

.wrapper {
  position: relative;
  margin-top: 10px;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Similar-Product-container {
  background-color: #fff;
}

.App {
  width: 70%;
  margin: 0 auto;
  /* margin-top: 50px; */
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: rgb(251, 251, 251);
  border-radius: 8px;
  overflow: hidden;

  height: 400px;
  color: #0b0b0b;
  cursor: pointer;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  margin: 10px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
}

/* container-tab-detail */
.container-tab-detail {
  display: flex;
}

.container-tab-detail .container-left {
  width: 50%;
}

/* postProducts */

#blog {
  padding: 5rem 2rem;
}

#blog .blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

#blog .blog-box .blog-image {
  width: 50%;
}

#blog .blog-box .blog-image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#blog .blog-box h1 {
  position: absolute;
  top: -7.5rem;
  left: 0;
  font-size: 5rem;
  font-weight: 500;
  color: #dbaf56;
}

#blog .blog-details {
  width: 50%;
  padding: 0 1rem;
}

#blog .blog-details a {
  text-decoration: none;
  color: #dbaf56;
  position: relative;
}

#blog .blog-details a:hover {
  background-size: 100% 3px;
}

@media screen and (max-width: 992px) {
  #blog .blog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #blog .blog-box .blog-image {
    width: 100%;
    padding: 0;
  }

  #blog .blog-details {
    width: 100%;
    padding: 0;
  }
}

.btn-out-stock {
  color: #dbaf56;
  font-size: 20px;
  font-weight: 700;
}

.ant-tabs-tab-btn {
  color: #676767 !important;
  border-bottom: #dbaf56 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #dbaf56 !important;
  font-weight: 600;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #dbaf56 !important;
}