/* .img-cart {
  width: 20%;
}
.cart-page {
  margin: 80px auto;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.card-product-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: contain;
}


 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  z-index: 10;
}

.shoppingCart {
  width: 60%;
  height: 90%;
  margin: 2rem auto;
  background-color: #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shoppingCart .header {
  display: flex;
  background-color: #ccc;
  padding: 10px 20px;
  justify-content: space-between;
}

.close-btn {
  color: var(--main-color);
}

.ant-table-cell {
  font-size: 15px;
}

.empty-text {
  display: block;
  padding: 2rem;
  margin: auto;
}

.cart-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
  overflow-y: scroll;
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border: 3px solid #eee;
}

.product-info {
  flex-basis: 50%;
}

.product-info h3 {
  font-weight: 400;
  font-size: 1rem;
}

.cart-product select {
  width: 70px;
  font-size: 1rem;
  outline: none;
}

.cart-products img {
  width: 100px;
  background-color: #fff;
}

.checkout-btn {
  background-color: var(--main-color);
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  align-self: center;
  margin: 2rem 0;
}

.hide .order {
  height: 0;

  transition: height 0.7s, visibility 0s, opacity 0.5s linear;
  transition-timing-function: ease-in;
  visibility: hidden;
  opacity: 0;
}

.hide {
  transition: all 0.3s;
}

.hide.show-div .order {
  height: 300px;
  /* visibility: visible; */

  visibility: visible;
  opacity: 1;
}

.order {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
}

.order .order__left {
  /* width: 60%; */
  flex: 1;
  max-width: 600px;
}

.order .order__right {
  /* width: 60%; */
  flex: 1;
  max-width: 450px;
}

/* modal design */
.ant-modal {
  width: 68% !important;
}

/* .ant-modal-footer .ant-btn {
  color: #fff !important;
  background-color: #00000000 !important;
} */
.modal-update-address-orders-responsive {
  width: 35% !important;
}
@media only screen and (max-width: 414px) {
  .table-cart-responsive td,
  .table-cart-responsive th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container-PaymentMethods {
    margin: 20px !important;
    width: 100%;
  }
  .title-paymethod-responsive {
    font-size: 15px !important;
    display: inline-block;
    width: 400px;
  }
  .container-info-order-responsive {
    width: 100%;
    margin-left: 28%;
  }
  .address-info-order-responsive {
    font-size: 12px !important;
  }
  .title2-paymethod-responsive {
    font-size: 12px !important;
    display: inline-block;
    width: 400px;
  }
  .code-block {
    width: 300px !important;
  }
  .btn-chose-payMethod {
    left: 40% !important;
  }
  .title-option-paymethod {
    font-size: 4vw !important;
  }
  .modal-update-address-orders-responsive {
    width: 76% !important;
  }
}

.code-block {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.table-cart-responsive .ant-table-thead th {
  background-color: #e9e5e5 !important;
}
