.table-das-container {
  /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; */
  width: 100%;
}

.table-das-container .title-das-products {
  font-size: 19px;
  font-weight: 600;
  padding: 20px 20px;
}

.h1 {
  font-size: 270%;
  color: #fff;
  text-shadow: 1px 1px 2px pink;
}

img {
  width: 90px;
  height: 90px;
  object-fit: "cover";
}

.modal-add-products {
  width: 50% !important;
}

/* .ant-table-tbody tr {
  background-color: #efebe4 !important;
} */

/* mau chung thead */
.ant-table-thead th {
  background-color: #edc77c !important;
}
