* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 80px;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 6 00;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  font-size: 1.4rem;
  font-weight: 800;
}
h4 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #1d1d1d;
}
h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3a3833;
}

hr {
  width: 35px;
  height: 2px;
  background-color: #169010;
}
.star {
  padding: 10px 0;
}
.star i {
  font-size: 0.8rem;
  color: rgb(255, 217, 4);
}

/* nav mobi */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;

  transition: 0.3s ease;
}

#bar:hover,
#bar.active {
  color: #fff;
}

@media (max-width: 991px) {
  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }
}

.home-image img {
  width: 100%;
  height: 116%;
  object-fit: cover;
}

#home {
  justify-content: center;
  align-items: flex-start;
}

.our-featured h2 {
  text-align: center;
  color: black;
  padding: 4px;
}
.our-featured hr {
  display: block;
  margin: auto;
  width: 180px;
  height: 2px;
  background-color: #169010;
}

#home span {
  color: #008000;
}
#brand .row img {
  width: 150px;
  height: auto;
}

.row1 {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
}
.row1::-webkit-scrollbar {
  display: none;
}

.img-brand {
  padding: 50px;
  text-align: center;
  display: flex;
  gap: 40px;
}

.img-brand img {
  margin: 0 1em;
}
/* New */

.new-container {
  display: flex;
  gap: 50px;
  padding: 2em 4em;
}
.new-item {
  transition: 0.5s;
  padding: 1em;
  flex: 1;
  border-radius: 10px;
  text-align: center;
}
.new-item:hover {
  background: #b7b7b788;
}

.new-item img {
  width: 100%;
}

/* hover-dropdown-menu */
.main-dropdown-menu {
  background: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  position: absolute;
  top: 64px;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.main-dropdown-menu.show {
  opacity: 1;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* @media screen and (max-width: 700px) {
  .galleryContainer {
    grid-template-rows: 1fr;
  }
} */

.galleryItem {
  background: #f1f1f1;
  padding: 10px;
}

.btn-inStore {
  text-align: center;
}

.galleryItem img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* background: #fff; */
}
/* zoom hinh anh san pham moi nhat */
.galleryItem {
  overflow: hidden; /* Ẩn phần bị tràn ra ngoài */
}

.galleryItem img {
  transition: transform 0.5s ease; /* Thời gian chuyển đổi hiệu ứng */
}

.galleryItem:hover img {
  transform: scale(1.2); /* Thay đổi tỷ lệ kích thước */
}

.galleryContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 992px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr;
  }
  .galleryContainer .galleryItem img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .our-featured h2 {
    width: 100% !important;
  }
  .galleryWrapper h2 {
    width: 100% !important;
  }
  .blog-section h2 {
    width: 100% !important;
  }
  .comments h2 {
    width: 100% !important;
  }
  .brand-container-grid h2 {
    width: 100% !important;
  }
  .banner-row-container-banner-black-home-res {
    flex-wrap: wrap;
  }
  .banner-row-container {
    height: 20% !important;
  }
}

.galleryWrapper hr {
  display: block;
  margin: auto;
  width: 180px;
  height: 2px;
  background-color: #169010;
}

.galleryWrapper {
  padding: 3% 6%;
}

.multi-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.banner-card {
  position: relative;
}

.banner-card #video-banner {
  max-width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 25%;
  color: #fff;
  font-weight: 600;
  padding: 20px;
  margin: 10px;
}

.banner-text h5 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  top: 25%;
  color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}
.btn-video {
  color: black;
  background: #fff;
  border-radius: 20px;
  margin: 10px;
}
.btn-video:hover {
  background: #fff;
  color: green;
}

.text-uppercase {
  margin: 10px;
}

.App {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.App hr {
  display: block;
  margin: auto;
  width: 70px;
  height: 3px;
  background-color: #169010;
}

.slick-slider {
  margin-top: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  /* border-radius: 10rem; */
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  /* border-radius: 10rem; */
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #80837f;
  transition: all 0.3s;
  /* border-radius: 10rem; */
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.row-banner {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 90px;
}
.container-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-section .card {
  position: relative;
  flex: 10;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.container-section .card:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* @media screen and (max-width: 992px) {
  .row-banner .container-section .card {
    grid-template-columns: repeat(2, 1fr);
  }
} */
@media screen and (max-width: 900px) {
  .row-banner .container-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .row-banner .container-section .card {
    width: 100%;
  }
}

/* our log */
.blog-section {
  width: 100%;
  padding: 40px;
}
.blog-section .section-content {
  width: 85%;
  margin: 30px auto;
}

.blog-section .section-content .title {
  width: 60%;
  text-align: center;
  margin: auto;
}

.blog-section .section-content .title h2 {
  /* font-size: 40px; */
  color: #1d1d1d;
  text-transform: uppercase;
}
.blog-section .section-content .title p {
  font-size: 20px;
  color: #1d1d1d;
  margin-top: 15px;
}

.blog-section .section-content .cards-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px auto;
}
.blog-section .section-content .cards-blog .card-blog {
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

.blog-section .section-content .cards-blog .card-blog img {
  width: 100%;
  height: auto;
}

.blog-section .section-content .cards-blog .card-blog .article {
  padding: 8px 20px;
}
.blog-section .section-content .cards-blog .card-blog .article h4 {
  font-size: 20px;
  color: #dbaf56;
  padding-top: 20px;
}
.blog-section .section-content .cards-blog .card-blog .article p {
  font-size: 17px;
  margin: 10px 0px;
  color: #6a6a6a;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-section .section-content .cards-blog .card-blog a {
  text-decoration: none;
  display: inline-block;
  background-color: #010101;
  padding: 8px 15px;
  margin-left: 20px;
  color: #fff;
  font-weight: 500;
}
.blog-section .section-content .cards-blog .card-blog .posted-date {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ffffff;
  opacity: 0.7;
  padding: 3px 7px;
}
.blog-view .btn-blog {
  margin: 18px;
}

@media screen and (max-width: 992px) {
  .blog-section .section-content .cards-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .blog-section .section-content .cards-blog {
    grid-template-columns: 1fr;
  }
  .blog-section .section-content .cards-blog .card-blog img {
    width: 100% !important;
    height: auto;
  }
  .blog-section .section-content .cards-blog .card-blog .article h4 {
    padding-top: 8px !important;
  }
}

/* brand thương hiệu của shop */
.grid-wrapper {
  --auto-grid-min-size: 10rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.grid-wrapper li {
  background-color: #f1f1f1;
  color: #ffffff;
  font-size: 24px;
  list-style-type: none;
  padding: 0.5rem 0.7rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
.main-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 2rem 1rem;
}

.brand-container-grid hr {
  display: block;
  margin: auto;
  width: 220px;
  height: 3px;
  background-color: #169010;
}

/* .brand-container-grid h2:hover {
  color: #dbaf56;
} */
/* preview */
.preview-section {
  justify-content: center;
  align-items: center;
}

/* banner freeship  */
.column-banner-freeship {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.banner-freeship-container {
  margin: 50px 200px;
}

.column-banner-freeship {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

/* banner */
article ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article ul li {
  width: 20%;
  float: left;
  background: #ffffff;
  margin: 0 0 10px 0;
  text-align: center;
}

.container-banner-free {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
}

.container-banner-free .items-banner-free img {
  max-width: 60px;
}

.container-banner-free .title-banner {
  color: #80837f;
  font-size: 16px;
  display: block;
  line-height: 22px;
  margin: 10px auto 0px;
  width: 150px;
  max-width: 100%;
}

.card-banner-items-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* review */

.card-review {
  font-family: "Candara", sans-serif;
  width: 340px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.card-image-review img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img {
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover {
  transform: scale(1.1);
}

.card-content-review h3 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}

/* comment */
.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: row;
}
@media (max-width: 800px) {
  .comment-container {
    flex-direction: column;
  }
}

.comments {
  margin-top: 90px;
}
.comments hr {
  display: block;
  margin: auto;
  width: 80px;
  height: 3px;
  background-color: #169010;
}

figure.snip1204 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1204 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1204 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 50%;
}
figure.snip1204 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1204 blockquote:before,
figure.snip1204 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1204 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1204 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1204 .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 35px;
  position: relative;
}
figure.snip1204 .author h5,
figure.snip1204 .author span {
  left: 50%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}
figure.snip1204 .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 800;
  color: #000000;
}
figure.snip1204 .author span {
  font-size: 0.8em;
  color: #ffffff;
  top: 50%;
}

/* @media screen and (max-width: 380px) {
  .figure.snip1204 blockquote {
    font-size: 20px;
  }
} */

/* 
@media screen and (max-width: 768px) {
  .row-banner .container-section .card {
    grid-template-columns: 1fr;
  }
} */
@media only screen and (max-width: 428px) {
  .grid-wrapper {
    --auto-grid-min-size: 18rem;
    grid-gap: 2rem;
    padding-left: 2.2rem;
    margin-left: 2rem;
  }
}

/* @media only screen and (max-width: 375px) {
  .grid-wrapper {
    --auto-grid-min-size: 6rem;
    grid-gap: 0.5rem;
  }
} */
/* responsive black banner shopp */
